RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !\.[a-zA-Z0-9]{1,5}$
RewriteRule ^(\w+)/?$ "index.php?PROJECT=$1&%{QUERY_STRING}" [QSA,NC,L]
